@import "../../widgets/widget.scss";

.panelComponent {
    .panelComponent-col-progressBar-bar {
        background: $primary_bg2;
        height: 6vh;
        border-bottom-right-radius: 9vh;
        border-top-right-radius: 9vh;
        z-index: 1;

        .progress-bar {
            background: $primary;
        }
    }

    .panelComponent-col-label {
        z-index: 2;
        background:rgb(225, 176, 112);
        border: 1px solid black;
        border-right: 3px double rgb(243, 40, 40);

        p {
            color: black;
            font-family: Menlo, Monaco, Consolas, 'Courier New',
                monospace;
        }
    }

    .panelComponent-col-icon {
        background-color: $bg;
        z-index: 3;

    }
}

/* Extra small devices (phones, 319px and down) */
@media only screen and (max-width: 319px) {
    .panelComponent {
        height: 11vh;
        text-align: end;

        .panelComponent-col-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 9vh;
            width: 9vh;
            border-radius: 9vh;
            margin: auto;
            margin-right: -1%;

        }

        .panelComponent-col-label {
            width: 49%;
            height: 6vh;
            line-height: 6vh;
            margin: auto;
            margin-left: -1%;
            margin-right: -1%;

            p {
                font-size: 10px;
                margin-left: -5%;
            }
        }

        .panelComponent-col-progressBar {
            width: 20%;
            margin: auto;
            margin-left: -5%;

            .panelComponent-col-progressBar-bar {
                width: 400%;
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 539px and up) */
@media only screen and (min-width:320px) and (max-width: 539px) {
    .panelComponent {
        height: 11vh;
        text-align: end;

        .panelComponent-col-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 8vh;
            width: 8vh;
            border-radius: 8vh;
            margin: auto;
            margin-right: -1%;

        }

        .panelComponent-col-label {
            width: 45%;
            height: 6vh;
            margin: auto;
            margin-left: -1%;
            margin-right: -1%;
            line-height: 6vh;

            p {
                font-size: 0.68em;
                font-weight: bold;
            }
        }

        .panelComponent-col-progressBar {
            margin: auto;
            width: 40%;
            margin-left: -3%;
            margin-left: -5%;

            .panelComponent-col-progressBar-bar {
                width: 140%;
            }
        }
    }
}

/* Medium devices (landscape tablets, 540px and up) */
@media only screen and (min-width: 540px) and (max-width: 991.9px) {
    .panelComponent {
        height: 11vh;
        text-align: end;

        .panelComponent-col-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 10vh;
            width: 10vh;
            margin: auto;
            margin-right: -1%;
            border-radius: 10vh;

        }

        .panelComponent-col-label {
            width: 40%;
            height: 6vh;
            margin: auto;
            margin-left: -1%;
            margin-right: -2%;
            line-height: 6vh;

            p {
                padding-left: -5%;
                font-size: 110%;
            }
        }

        .panelComponent-col-progressBar {
            margin: auto;
            width: 50%;
            margin-left: -3%;

        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .panelComponent {
        height: 8vh;

        .panelComponent-col-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 9vh;
            width: 9vh;
            margin: auto;
            margin-right: -3%;
            border-top-right-radius: 9vh;
            border-bottom-right-radius: 9vh;

        }

        .panelComponent-col-label {
            width: 33%;
            height: 6vh;
            margin: auto;
            margin-left: -0.5%;
            margin-right: -3%;
            line-height: 6vh;

            p {
                padding-left: 5%;
            }

        }

        .panelComponent-col-progressBar {
            margin: auto;
            margin-left: -2%;

        }
    }
}