.panelComponent{
.panelComponent-col-progressBar-bar {
    background-color: rgba(172, 172, 179, 0.89);
}
}
/* Extra small devices (phones, 319px and down) */
@media only screen and (max-width: 319px) {
    .panelComponent {
        height: 11vh;
        text-align: end;

        .panelComponent-col-icon {
            background-color: aqua;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 7vh;
            width: 7vh;
            border-radius: 7vh;
            margin: auto;
            margin-right: -1%;
            z-index: 1;
        }

        .panelComponent-col-label {
            background-color: #dfd7d7;
            box-shadow: 2px 2px 2px rgba(138, 136, 136, 0.781);
            width: 40%;
            height: 6vh;
            line-height: 6vh;
            border-radius: 20px 0 0 15px;
            margin: auto;
            margin-left: -1%;
            margin-right: -1%;


            p {
                padding-left: 5%;
            }
        }

        .panelComponent-col-progressBar {
            margin: auto;
            width: 30%;
            margin-left: -3%;
            z-index: -1;

            .panelComponent-col-progressBar-bar {
                height: 6vh;
            }
        }
    }
}
/* Small devices (portrait tablets and large phones, 539px and up) */
@media only screen and (min-width:320px) and (max-width: 539px) {
    .panelComponent {
        height: 11vh;
        text-align: end;

        .panelComponent-col-icon {
            background-color: aqua;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 7vh;
            width: 7vh;
            border-radius: 7vh;
            margin: auto;
            margin-right: -1%;
            z-index: 1;
        }

        .panelComponent-col-label {
            background-color: #dfd7d7;
            box-shadow: 2px 2px 2px rgba(138, 136, 136, 0.781);
            width: 30%;
            height: 6vh;
            border-radius: 20px 0 0 15px;
            margin: auto;
            margin-left: -1%;
            margin-right: -1%;
            line-height: 6vh;

            p {
                padding-left: 5%;
            }
        }

        .panelComponent-col-progressBar {
            margin: auto;
            width: 55%;
            margin-left: -3%;
            z-index: -1;

            .panelComponent-col-progressBar-bar {
                height: 6vh;
            }
        }
    }
}

/* Medium devices (landscape tablets, 540px and up) */
@media only screen and (min-width: 540px) and (max-width: 991.9px) {
    .panelComponent {
        height: 11vh;
        text-align: end;

        .panelComponent-col-icon {
            background-color: aqua;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 10vh;
            width: 10vh;
            margin: auto;
            margin-right: -1%;
            border-radius: 7vh;
            z-index: 1;
        }

        .panelComponent-col-label {
            background-color: #dfd7d7;
            box-shadow: 2px 2px 2px rgba(138, 136, 136, 0.781);
            width: 30%;
            height: 6vh;
            border-radius: 20px 0 0 15px;
            margin: auto;
            margin-left: -1%;
            ;
            margin-right: -1%;
            line-height: 6vh;

            p {
                padding-left: 5%;
            }
        }

        .panelComponent-col-progressBar {
            margin: auto;
            width: 60%;
            margin-left: -3%;
            z-index: -1;

            .panelComponent-col-progressBar-bar {
                height: 6vh;
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .panelComponent {
        height: 11vh;

        .panelComponent-col-icon {
            background-color: aqua;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 7vh;
            width: 7vh;
            margin: auto;
            margin-right: -1%;
            border-radius: 7vh;
            z-index: 1;
        }

        .panelComponent-col-label {
            background-color: #dfd7d7;
            box-shadow: 2px 2px 2px rgba(138, 136, 136, 0.781);
            width: 30%;
            height: 6vh;
            border-radius: 20px 0 0 15px;
            margin: auto;
            margin-left: -0.5%;
            margin-right: -1%;
            line-height: 6vh;
        }

        .panelComponent-col-progressBar {
            margin: auto;
            margin-left: -3%; 
            z-index: -1;

            .panelComponent-col-progressBar-bar {
                height: 6vh;
                
            }
        }
    }
}