$primary_bg:#271c1c7a;
$primary:#096cff;

.navbar{
background-color: $primary_bg;
color: white;
z-index: 999;
}
.navbar a{
    color: white; 
}

#facebookIcon:hover{
    color: $primary;
}
#instagramIcon:hover{
    color:#d35b23ee ;
}
#githubIcon:hover{
    color:#08f54fee ;
}