$primary_bg: #271c1c7a;
$primary_hover: #ffffff;

.navbar {
    z-index: 999;
}

#nav-01{
    a{
        margin-left: -10%;
    }
}

#secondNavbar {
    background-color: $primary_bg;
    height: 10vh;
    font-size: 18px;
    font-weight: bold;
}


#facebookIcon {
    color: #00a2ff;

    :hover {
        color: $primary_hover;
    }
}

#instagramIcon {
    color: #eb1313;

    :hover {
        color: $primary_hover;
    }
}

#linkedinIcon {
    color: rgb(0, 89, 255);

    :hover {
        color: $primary_hover;
    }
}

#githubIcon {
    color: rgb(255, 217, 0);
    
    :hover {
        color: $primary_hover;
    }
}