@import "../widgets/widget.scss";

.navbar {
    z-index: 999;
    height: 5vh;

}



#secondNavbar {
    background-color: $primary;
    height: 10vh;
    font-size: 18px;
    font-weight: bold;
}



#firstNavbar {
    #nav-02 {
        margin-left: -5%;
        a {
            color: black;
            margin-left: -1%;
            
        }
    }
    #nav-01 {
        a {
            margin-left: -10%;
        }
    }

}