.zoom-in {
    animation: zoomAnimation 5s infinite;
}

@keyframes zoomAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 760px) {
    .carousel {
        bottom: 40vh;

        img {

            height: 110vh;
            width: 40%;
            overflow: hidden;
        }

        .carouselContainer {
            margin-bottom: 15em;
            text-align: justify;

            h3 {
                font-size: 2em;
                text-align: center;
                text-transform: uppercase;
            }

            p {
                text-align: center;
                font-size: 1em;
            }
        }

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .carousel {
        bottom: 30vh;

        img {
            height: 100vh;
            overflow: hidden;
        }

        .carouselContainer {
            margin-bottom: 30em;
            text-align: justify;

            h3 {
                font-size: 2.5em;
                text-align: center;
                text-transform: uppercase;
            }

            p {
                text-align: center;
                font-size: 1.5em;
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .carousel {
        bottom: 50vh;

        img {
            height: 128vh;
            overflow: hidden;
        }

        .carouselContainer {
            margin-bottom: 17em;

            h3 {
                font-size: 3.2em;
                text-transform: uppercase;
                margin-bottom: 20px;
            }

            p {
                font-size: 2em;
                margin-bottom: 20px;
            }
        }

        #N02 {
            margin-bottom: 14em;
        }
    }
}