$primary:#f69d3c;
$primary_bg: linear-gradient(to right,#f69d3c,#f69d3c,#eeb271,#e7a762d9,#f69d3c,#f69d3c,#f69d3c);
$primary_bg2: linear-gradient(to left,#bb8346,#ba864f,#ecb57ad9);

$secondary: #00c3ff;
$third: #000000;
$bg: rgb(255, 255, 255);